.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: block;
  text-align: center;
  width: 14rem;
  &-body {
    padding: 1rem;
  }
}
.card-img-top {
  width: 100%;
}
