<div class="card-wrapper">
  <div class="card" *ngFor="let event of tttEvents">
    @if(event?.heldBy?.image){
    <img class="card-img-top" [src]="'assets/' + event.heldBy.image" />
    }

    <div class="card-body">
      <h5 class="card-title">{{ event.heldBy.name }}</h5>
      <p class="card-text">
        {{ event.topic }}
      </p>
      <p>
        <i>{{ event.date | date : "yy-MM-dd" }}</i>
      </p>
      <p>
        <i>{{ event.note }}</i>
      </p>
    </div>
  </div>
</div>
<i>{{ tttEvents.length }}</i>
